{% extends "base.html.twig" %}
{% block title %}ADMIN - {{ parent() }} - Ajout d'un Article {% endblock %}

{% block body %}
    <h1>Ajout Article</h1>

    <form method="post">

        <div class="mb-3">
            <input type="text" class="form-control" placeholder="Saisir un titre" name="Titre">
        </div>

        <div class="mb-3">
            <textarea class="form-control" name="Description" rows="3"></textarea>
        </div>

        <div class="mb-3">
            <input type="date" class="form-control" name="DatePublication">
        </div>

        <div class="mb-3">
            <select class="form-select" name="Auteur">
                <option value="Brice">Pierre</option>
                <option value="Bruno">Paul</option>
                <option value="Fabien">Jacques</option>
                <option value="Marion">Fabien</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Valider</button>
    </form>


{% endblock %}
