{% extends "base.html.twig" %}
{% block title %}ADMIN - {{ parent() }} - Modification d'un Article {% endblock %}

{% block body %}
    <h1>Modification Article</h1>

    <form method="post" enctype="multipart/form-data">

        <div class="mb-3">
            <input type="text" class="form-control" placeholder="Saisir un titre" name="Titre" value="{{ article.Titre }}">
        </div>

        <div class="mb-3">
            <textarea class="form-control" name="Description" rows="3">{{ article.Description }}</textarea>
        </div>

        <div class="mb-3">
            <input type="date" class="form-control" name="DatePublication" value="{{ article.Date|date("Y-m-d") }}">
        </div>

        <div class="mb-3">
            <select class="form-select" name="Auteur">
                <option value="Brice" {% if (article.Auteur=="Brice") %}selected{% endif %}>Brice</option>
                <option value="Bruno" {% if (article.Auteur=="Bruno") %}selected{% endif %}>Bruno</option>
                <option value="Fabien" {% if (article.Auteur=="Fabien") %}selected{% endif %}>Fabien</option>
                <option value="Marion" {% if (article.Auteur=="Marion") %}selected{% endif %}>Marion</option>
            </select>
        </div>

        <div class="mb3">
            <input type="file"  name="Image">
        </div>

        <button type="submit" class="btn btn-primary">Valider</button>
    </form>


{% endblock %}
